@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;600;700&family=Space+Mono:wght@400;700&display=swap');

:root {
    --colorFontPrimary: #333333;
    --colorFontSecundary: #4F4F4F;
    --colorFontButton: #FFFFFF;
    --colorFontFooter: #BDBDBD;
    --FontFamilyPrimary: 'Space Mono', monospace;
    --FontFamilySecundary: 'Inconsolata', monospace;
    --FontFamilyFooter: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 1.2% 5% 0;
}

nav h2 {
    font-family: var(--FontFamilySecundary);
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: var(--colorFontPrimary);
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    padding: 0 5%;
}

.box-left img {
    width: 539.22px;
    height: 447.43px;
}

.box-right {
    padding: 0 6%;
}

.box-right h1 {
    font-family: var(--FontFamilyPrimary);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: var(--colorFontPrimary);
    margin-block-start: 0;
}

.box-right p {
    font-family: var(--FontFamilyPrimary);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: var(--colorFontSecundary);
    padding-right: 39%;
    margin-bottom: 9%;
}

.box-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    width: 33%;
    font-family: var(--FontFamilyPrimary);
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: var(--colorFontButton);
    background-color: var(--colorFontPrimary);
    cursor: pointer;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: var(--FontFamilyFooter);
    font-size: 14px;
    line-height: 17px;
    color: var(--colorFontFooter);
}

footer p {
    font-weight: 600;
    text-align: center;
}

footer p span {
    font-weight: 700;
    text-decoration-line: underline;
}

footer p a {
    font-weight: 500;
    cursor: pointer;
    color: var(--colorFontFooter);
    text-decoration: none;
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    main {
        justify-content: space-around;
    }

    .box-left img {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (max-width: 1360px) {
    nav h2 {
        font-size: 20px;
        line-height: 25px;
    }

    .box-right h1 {
        font-size: 44px;
        line-height: 55px;
    }

    .box-right p {
        font-size: 20px;
        line-height: 35px;
        padding-right: 30%;
    }

    .box-right a {
        font-size: 12px;
        line-height: 21px;
        width: 45%;
    }
}

@media screen and (max-width: 1024px) {
    .box-left img {
        width: 439.22px;
        height: 347.43px;
    }

    .box-right h1 {
        font-size: 48px;
        line-height: 71px;
    }

    .box-right p {
        font-size: 20px;
        line-height: 35px;
        padding-right: 16%;
    }
}

@media screen and (max-width: 980px) {
    .box-left img {
        width: 286.83px;
        height: 238px;
    }

    .box-right p {
        font-size: 18px;
        line-height: 27px;
        padding-right: 16%;
    }

    .box-right a {
        font-size: 14px;
        line-height: 21px;
    }
}

@media screen and (max-width: 767px) {
    body {
        margin: 0;
        box-sizing: border-box;
        padding: 15px;
    }

    nav h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    main {
        flex-direction: column;
        margin-bottom: 17%;
        margin-top: 14%;
    }

    .box-left {
        margin: 0 auto;
    }

    .box-right {
        padding: 0;
    }

    .box-right h1 {
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }

    .box-right p {
        margin-bottom: 16%;
    }

    footer {
        position: relative;
    }
}

@media screen and (max-width: 320px) {
    .box-right a {
        width: 65%;
    }

    footer {
        font-size: 10px;
    }
}